 .cell {
    width: 18px;
    height: 18px;
    border: 1px;
    border-radius:50%;
    border-color: rgb(0, 0, 0);

    
  }
  .filled {
    background-color: rgb(255, 255, 255);
  }
  .dead {
    background-color: rgb(0, 0, 0);
  }

  #gamefield{

      margin: auto;
      border-color: gray;
      border: 10px;
      background-color: black;

  }

  body {
   
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  
    background-color: #272727;
  }
  .container{
    justify-content: center;
   
  }
